* {
    box-sizing: border-box; 
    width: 800px;
    margin: auto;
    height: 140px;
    border-style: solid;
    border-color: white;
}

.salmonOne {
    background-color: #F5C6D6;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.magentaFour {
    background-color: #EE2E84;
    display: inline-block;
    width: 24.6%;
    padding: 5%;
}

.cyanTwo {
    background-color: #85CFD8;
    display: inline-block;
    width: 49.6%;
   
}

.greenOne {
    background-color: #8DC63F;
    display: inline-block;
    width: 75%;
   
}

.orange {
    background-color: #E76E34;
    display: inline-block;
    width: 24.2%;
}