body {
    display: inline-block;
    margin-top: 10em;
    margin-left: 4em;
    margin-right: 4em;
}

.boxClassifeids {
    border-style: double;
    display: inline-block;
    padding: 2em;
}

h2 {
    text-align: center;
}

h3, h4 {
    text-align: center;
    font-size: 1.5em;
}

#mainStory {
    
}

#newspaperName {
    font-size: 5em;
    text-align: center;
    font-family: fantasy;
    font-style: italic;
}
article {
    column-count: 2;
}


