* {
    box-sizing: border-box;
    
}

body {
    margin-top: 10em;
    margin-left: 6em;
    margin-right: 6em;
}

.boxClassifeids {
    border-style: double;
    display: inline-block;
    padding: 2em;
    margin: 12px;
    width: 48%;
}



h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 2.5em;
    text-align: center;

}

h4 {
    text-align: center;
    font-size: 2em;
}

#newspaperName {
    font-size: 5em;
    text-align: center;
    font-family: fantasy;
    font-style: italic;
}

article {
    column-count: 2;
    column-gap: 50px;
    line-height: 2em;
    text-indent: 5%;
    margin: 20px;
    display: inline-block
}


