@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.navflex{
    display: flex-container;

    display: inline-block;
    padding-right: 30px;
}

.navlinks{
    font-size: 1.75em;
    margin: 10px 0 60px 0;
    padding-right: 30px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}

.navpad{
    display: inline;
    padding-right: 20px;

}

.navpad:hover{
    color: blue;
}
