@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* font-family: 'Squada One', cursive;
font-family: 'Open Sans', sans-serif; */

li{
    list-style: none;
    display: flex;
}


h1{
    font-family: 'Open sans', sans-serif;
    color: #eeeeee;

}

.App{
    /* display: ; */
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}


.header-style{
    background-color: black;
    display: flex;
    justify-content: center;
}