h1 {
    color: darkgreen;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration-line: none;
}

a:hover{
    text-decoration-line: underline;
}

#case-upper {
    text-transform: uppercase;
}

img {
    float: left;
    padding: 20px;
}