.wrapper{
    display: grid;
    max-width: 305px;
    margin: auto;
    
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: .25em;
    max-width: 305px;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
} 



.square{
    height: 200px;
    border: solid black .5px;
}

