.grid{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: .25em;
    /* max-width: 305px;
    justify-content: center;
    margin: auto;*/
    margin-top: 2em;
    margin-bottom: 1em;
} 



.square{
    height: 150px;
    border: solid black .5px;
}

